body {
  margin: 60px auto;
  width: 70%;
  font-family: "Roboto";
}
nav ul,
footer ul {
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: none;
  color: #3792cb;
}
a:visited {
  text-decoration: none;
}
h1 {
  font-size: 3em;
}
.h1-underline {
  border-bottom: 1px solid black;
}
p {
  font-size: 1em;
  line-height: 1.4em;
  color: #333;
}
span {
  font-weight: bold;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}
footer ul {
  display: flex;
  align-items: center;
}
footer img {
  height: 30px;
  width: 30px;
  margin: 7px;
  opacity: 0.5;
}
footer img:hover {
  opacity: 1;
}

.me {
  height: 220px;
  width: 220px;
  border-radius:8px;
  box-shadow:2px 3px #333;
}

